<div class="hd posts">
    <a href="/zxy/index.html"><i class="fa fa-reply replay-btn" aria-hidden="true"></i></a>
    <div class="post-title">
        <p>
            <%= page.title %>
            <% if (page.title === '关于') { %>
            <div class="count">
                认识的第
                <span class="count_day" id="know">
                </span>
                天
            </div>
            <% } %>
        </p>
        <hr>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>

    <% if (theme.valine.enable && page.comments) { %>
    <hr class="fhr">
    <div id="vcomments"></div>
    <% } %>
</div>
<script>
    // 相识计时器
    const countKnowDay = () => {
        const count = document.querySelector('#know')
        if (count) {
            let day = Math.ceil((new Date() - new Date('2018-08-11')) / (1000 * 60 * 60 * 24))
            count.textContent = day
        }

    }
    countKnowDay()
</script>